@import "../../../node_modules/toastr/toastr.scss";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

header {
  margin-bottom: $header-margin;
}

@each $type in $text-types {
  .text-#{$type} {
    text-align: $type;
  }
}

hr {
  margin-top: 0.4rem;
  margin-bottom:1.8rem;
}

#app > .ui.container {
  margin-bottom: $container-bottom-margin;
}

.ui.form .columned.inline.field {
  display: flex;
}

.ui.form .columned.inline.field > :first-child {
  align-self: center;
}

.pull-right {
  float: right;
}

.app.profilebar {
  align-self: flex-end;
}

.inline {
  display: inline;
}

#app {
  &.overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  height:100%;
}

#toast-container {
  z-index: 10;
}